<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form" autocomplete="off">
                        <input type="text" name="" placeholder="Enter Your City Name" id="cityName"
                            autocomplete="off" />
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Tue</p>
                        <p id="todays_date">10 </p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">
                            Get Output Here
                        </p>
                        <div class="middle_layer data_hide">
                            <p id="temp">
                                <span id="temp_real">0</span> <sup>o</sup> C
                            </p>
                            <p id="temp_status">
                                <i class="fa fa-cloud" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
    <script>

        const getCurrentDate = () => {
            const weekday = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

            let currentTime = new Date();
            let days = weekday[currentTime.getDay()];
            let day = document.getElementById('day')
            day.innerText = days
        };

        getCurrentDate();
        const getCurrentTime = () => {
            var months = [
                "Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "Jun",
                "Jul",
                "Aug",
                "Sep",
                "Oct",
                "Nov",
                "dec",
            ];
            const currentTime = new Date();
            var month = months[currentTime.getMonth() + 1];
            var date = currentTime.getDate();

            let todays_date = document.getElementById('todays_date');
            todays_date.innerHTML = `${date} ${month}`;

        };

        getCurrentTime()

    </script>
</body>

</html>